@(id:String)(implicit request: RequestHeader)


<section class="vertex ui purple segment">
    <h4 class="ui top attached inverted purple header">Nodes</h4>
    <p style="ui segment attached">current graph nodes</p>
    <section class="v" data-foreach-vertex="Vertex.all">

        <div class="name" data-bind="vertex.name"></div>
        <div class="description" data-bind="vertex.description"></div>
        <div class="props" data-foreach-prop="vertex.properties">
            <b class="key" data-bind="prop">something inside</b>
            <b class="value" data-bind-id="prop" data-bind="vertex.properties[prop]">something inside</b>
        </div>
    </section>
</section>
<section class="incoming ui teal segment">
    <h4 class="ui top attached inverted teal header">Incoming</h4>
    <p style="ui segment attached">some incoming nodes</p>
</section>

<section class = "outgoing ui green segment">
              <h4 class="ui top attached inverted green header">Outgoing</h4>
              <p style="ui segment attached">some outgoing nodes</p>
</section>
