@(id:String)(implicit request: RequestHeader)


<section class="vertex ui purple" data-view="VerticesView">
    <h4 class="ui top attached inverted purple header">Vertices</h4>
    <p style="ui segment attached">current graph vertices</p>
    <div class="ui accordion">
        <section class="v" data-foreach-vertex="Vertex.all" data-view="VertexView">

            <div class="name active title" data-bind="vertex.name"></div>

            <div class="active content">
                <div class="description" data-bind="vertex.description"></div>
                <div class="ui accordion">
                    <header class="active title">
                Properties
                        <i class="dropdown icon"></i>
                    </header>
                    <div class="active content">
                        <div class="props" data-foreach-prop="vertex.properties">
                            <b class="key" data-bind="prop">something inside</b>
                            <b class="value" data-bind-id="prop" data-bind="vertex.properties[prop]">something inside</b>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<section class="incoming ui teal" data-view="EdgesView">
    <h4 class="ui top attached inverted teal header">Incoming</h4>
    <p style="ui segment attached centered">some incoming nodes</p>
    <div class="ui accordion">
        <section class="e" data-foreach-edge="Edge.all" data-view="EdgeView">

            <div class="name active title" data-bind="edge.name"></div>

            <div class="active content">
                <section class="ui accordion">
                    <header class="active title"> <i class="dropdown icon"></i>

                        Properties

                    </header>
                    <div class="active content">
                        <div class="props" data-foreach-prop="edge.properties">
                            <b class="key" data-bind="prop">something inside</b>
                            <b class="value" data-bind-id="prop" data-bind="edge.properties[prop]">something inside</b>
                        </div>
                    </div>

                    <header class="active title"> <i class="dropdown icon"></i>

                        Incoming vertices:

                    </header>
                    <div class="active content">

                        <div class="props" data-foreach-vertex="edge.incoming">
                            <div class="name" data-bind="vertex.name"></div>
                            <div class="description" data-bind="vertex.description"></div>
                        </div>
                    </div>

                </section>
            </div>

        </section>
    </div>
</section>


<section class = "outgoing green" data-view="EdgesView">
              <h4 class="ui top attached inverted green header">Outgoing</h4>
              <p style="ui segment attached">some outgoing nodes</p>
    <div class="ui accordion">
        <section class="e" data-foreach-edge="Edge.all" data-view="EdgeView">
            <div class="name green active title" data-bind="edge.name"></div>

            <div class="active content">


                <section class="accordion ">
                    <header class="active title"><i class="dropdown icon"></i>
                        Properties
                    </header>
                    <div class="active content">
                        <div class="props" data-foreach-prop="edge.properties">
                            <b class="key" data-bind="prop">something inside</b>
                            <b class="value" data-bind-id="prop" data-bind="edge.properties[prop]">something inside</b>
                        </div>
                    </div>

                    <header class="active title"><i class="dropdown icon"></i>
                         Outgoing vertices:
                    </header>
                    <div class="active content">
                        <div class="props" data-foreach-vertex="edge.outgoing">
                            <div class="name" data-bind="vertex.name"></div>
                            <div class="description" data-bind="vertex.description"></div>
                        </div>
                    </div>

                </section>
            </div>
        </section>
    </div>

</section>
