@(id:String)(implicit request: RequestHeader)


<section class="vertex">
    <p style="background-color:purple">List of all vertexes<p>
    <section class="v" data-foreach-vertex="Vertex.all">


        <div class="vname" data-bind="vertex.name" style="background-color: azure;"></div>
        <div class="vdescription" data-bind="vertex.description"></div>
        <div class="props" data-foreach-prop="vertex.properties">
            <b class="pname" data-bind="prop">something inside</b>
            <b class="pvalue" data-bind-id="prop" data-bind="vertex.properties[prop]">something inside</b>
        </div>
    </section>
</section>
<section class="incoming">
          Incoming
    <p style="background-color: green">some incoming nodes</p>
</section>

<section class = "outgoing">
                  Outgoing
              <p style="background-color: red" p>some outgoing nodes</p>
</section>
